body {
  background-color: rgb(85, 172, 238); /*original white background too boring*/
  font-size: 30px;
  font-family:Helvetica, sans-serif;

}

#main {
  position: fixed;  /*main body of tweet shouldn't move*/
  background-color: rgb(255, 255, 255);
  color: rgb(105, 120, 130); /* applies to reply and logo text*/
  top: 92px;
  left: 15%;
  right:15%;
  bottom:240px;
  padding-left: 15px;
  border: 1px solid rgb(225, 232, 237);
  border-radius: 15px;
}

.tweet-body {
  margin-top: 10px; /*helps to shift profile pic and account-info from tweet body simultaneously*/
  position: relative;
  
}

.prof-pic {
  padding: 25px 0 0 25px;
}

.account-info {
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: absolute;
  left: 125px; top:35px; right:0; bottom:0;
}

.at-jack {
  position:absolute;
  left: 120px; top:80px; right:0; bottom:0;
  font-size: 24px;
  color: rgb(104, 109, 129);
}

.tweet-content {
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding-top: 25px;
  padding-bottom: 5px;
}

.date {
  position: relative;
  margin-bottom:30px;
  color: rgb(101, 116, 127);
}

.tweet-content, .date {
  padding-left: 25px;
}

.follow {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 500px;

}

.follow-button {
  color: rgb(85, 172, 238);
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 10px;
  padding: 15px 25px 10px 25px;
  margin: 25px 0 0 280px;
}


.reply .logo{
  color: rgb(105, 120, 130);
}

.reply {
  padding-left: 25px;
}

.logo {
  padding-left: 30px;
}
